# Machine Learning Study Group Notebook
This is a notebook built for the FEARP 2019 Machine Learning Study Group. We base our sessions on Introduction to Statistical Learning (ISL), Hastie, Tibshirani et al's book.

In this notebook I apply methods presented in ISL on data of Boston Crime, gathered from Kaggle.

Author: William Suzuki, FEA-RP USP, second semester of 2019.

## Objectives of session nº1  
(31/08/2019)

1. Find the probability of "Drug Violation" crime depeding on the day of the week and the "DISTRICT", in which district the crime was comitted.
2. item 2
3. item 3

In [1]:
#this code makes all output to be shown
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
crime = pd.read_csv("C:\\Users\\willi\\Dropbox\\working\\RAW_DATA\\Boston Crime\\crime.csv", encoding ='raw_unicode_escape')
crime.shape

(319073, 17)

In [3]:
crime.dtypes

INCIDENT_NUMBER         object
OFFENSE_CODE             int64
OFFENSE_CODE_GROUP      object
OFFENSE_DESCRIPTION     object
DISTRICT                object
REPORTING_AREA          object
SHOOTING                object
OCCURRED_ON_DATE        object
YEAR                     int64
MONTH                    int64
DAY_OF_WEEK             object
HOUR                     int64
UCR_PART                object
STREET                  object
Lat                    float64
Long                   float64
Location                object
dtype: object

In [4]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 17 columns):
INCIDENT_NUMBER        319073 non-null object
OFFENSE_CODE           319073 non-null int64
OFFENSE_CODE_GROUP     319073 non-null object
OFFENSE_DESCRIPTION    319073 non-null object
DISTRICT               317308 non-null object
REPORTING_AREA         319073 non-null object
SHOOTING               1019 non-null object
OCCURRED_ON_DATE       319073 non-null object
YEAR                   319073 non-null int64
MONTH                  319073 non-null int64
DAY_OF_WEEK            319073 non-null object
HOUR                   319073 non-null int64
UCR_PART               318983 non-null object
STREET                 308202 non-null object
Lat                    299074 non-null float64
Long                   299074 non-null float64
Location               319073 non-null object
dtypes: float64(2), int64(4), object(11)
memory usage: 41.4+ MB

In [5]:
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [6]:
type(crime)

pandas.core.frame.DataFrame

#### Map of Police Districts in Boston
One of the variables in the data frame is "DISTRICT" which is shown here:
<img src="files/BPD_locations.jpg">

In [7]:
pd.crosstab(index=crime["DISTRICT"], columns="count")

col_0     count
DISTRICT
A1        35717
A15        6505
A7        13544
B2        49945
B3        35442
C11       42530
C6        23460
D14       20127
D4        41915
E13       17536
E18       17348
E5        13239

In [8]:
#create an index id to identify crimes in the city
index = crime["INCIDENT_NUMBER"]
indexpd = pd.DataFrame(index)

In [9]:
indexpd.shape

(319073, 1)

In [10]:
#create dummies for hour of the day
hour_dummy = pd.get_dummies(crime["HOUR"])
hour_dummy.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
pd.crosstab(index=crime["HOUR"], columns="count")

col_0  count
HOUR
0      15106
1       9269
2       7693
3       4589
4       3408
5       3311
6       5026
7       8850
8      13043
9      14740
10     16347
11     16448
12     18679
13     16846
14     17189
15     16522
16     19871
17     20763
18     20302
19     17588
20     15850
21     14111
22     12926
23     10596

In [12]:
hour_dummy.columns = ["h0",	"h1",	"h2",	"h3",	"h4",	"h5",	"h6",	"h7",	"h8",	"h9",	"h10",	"h11",	"h12",	"h13",	"h14",	"h15",	"h16",	"h17",	"h18",	"h19",	"h20",	"h21",	"h22",	"h23"]
hour_dummy.head()

,h0,h1,h2,h3,h4,h5,h6,h7,h8,h9,...,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
#create dummies for district dummies
district_dummy = pd.get_dummies(crime["DISTRICT"])

In [14]:
district_dummy.shape

(319073, 12)

In [15]:
#table for the entire sample
pd.crosstab(index=crime["OFFENSE_CODE_GROUP"], columns="count")

col_0                             count
OFFENSE_CODE_GROUP
Aggravated Assault                 7807
Aircraft                             36
Arson                                94
Assembly or Gathering Violations    955
Auto Theft                         4851
...                                 ...
Towed                             11287
Vandalism                         15415
Verbal Disputes                   13099
Violations                         6095
Warrant Arrests                    8407

[67 rows x 1 columns]

In [16]:
#create dummies for crime type
crime_dummy = pd.get_dummies(crime["OFFENSE_CODE_GROUP"])
crime_dummy.head()

,Aggravated Assault,Aircraft,Arson,Assembly or Gathering Violations,Auto Theft,Auto Theft Recovery,Ballistics,Biological Threat,Bomb Hoax,Burglary - No Property Taken,...,Restraining Order Violations,Robbery,Search Warrants,Service,Simple Assault,Towed,Vandalism,Verbal Disputes,Violations,Warrant Arrests
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
crime_dummy.shape

(319073, 67)

In [18]:
pd.crosstab(index=crime["DISTRICT"], columns=crime_dummy["Drug Violation"])

Drug Violation      0     1
DISTRICT
A1              33641  2076
A15              6178   327
A7              12643   901
B2              47676  2269
B3              33934  1508
C11             40321  2209
C6              21651  1809
D14             19436   691
D4              39888  2027
E13             16453  1083
E18             16568   780
E5              12534   705

In [19]:
pd.crosstab(index=crime["DISTRICT"], columns=crime_dummy["Medical Assistance"])

Medical Assistance      0     1
DISTRICT
A1                  33474  2243
A15                  6022   483
A7                  12243  1301
B2                  46592  3353
B3                  33159  2283
C11                 39256  3274
C6                  21545  1915
D14                 18486  1641
D4                  39547  2368
E13                 16111  1425
E18                 15668  1680
E5                  11730  1509

In [20]:
#create dummies for day of the week
weekdays_dummy = pd.get_dummies(crime["DAY_OF_WEEK"])
weekdays_dummy.head(5)

   Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       0       0         0       1         0        0          0
1       0       0         0       0         0        1          0
2       0       1         0       0         0        0          0
3       0       1         0       0         0        0          0
4       0       1         0       0         0        0          0

In [21]:
weekdays_dummy.shape

(319073, 7)

In [22]:
x1 = pd.concat([weekdays_dummy, district_dummy, hour_dummy], axis=1)
x1.head(5)

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,A1,A15,A7,...,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
x1.shape

(319073, 43)

In [24]:
x2 = x1.drop(['Friday','A1','h1'],  axis=1)
x = x2.copy()
x.head(5)

,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,A15,A7,B2,B3,...,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [25]:
x1["h0"]

0         0
1         1
2         0
3         0
4         0
         ..
319068    0
319069    0
319070    0
319071    0
319072    1
Name: h0, Length: 319073, dtype: uint8

In [26]:
x2.shape

(319073, 40)

In [27]:
y = crime_dummy["Drug Violation"]

In [29]:
import numpy as np
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [30]:
model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
#coefficient of determination:
r_sq = model.score(x, y)
r_sq

0.019951944905464924

In [32]:
model.intercept_

0.044530976308243264

The reference variable for day of the week is *fridays*.

The reference variable for District is *A1*.

In [33]:
crimedf = pd.concat([crime_dummy,x1], axis=1)
crimedf.head(5)
crimedf.info()

,Aggravated Assault,Aircraft,Arson,Assembly or Gathering Violations,Auto Theft,Auto Theft Recovery,Ballistics,Biological Threat,Bomb Hoax,Burglary - No Property Taken,...,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Columns: 110 entries, Aggravated Assault to h23
dtypes: uint8(110)
memory usage: 33.5 MB

In [34]:
crimedf.rename(columns={"INCIDENT_NUMBER":"INCIDENT_NUMBER",
                        "Aggravated Assault":"AggravatedAssault",
                        "Aircraft":"Aircraft",
                        "Arson":"Arson",
                        "Assembly or Gathering Violations":"AssemblyorGatheringViolations",
                        "Auto Theft":"AutoTheft",
                        "Auto Theft Recovery":"AutoTheftRecovery",
                        "Ballistics":"Ballistics",
                        "Biological Threat":"BiologicalThreat",
                        "Bomb Hoax":"BombHoax",
                        "Burglary - No Property Taken":"Burglary-NoPropertyTaken",
                        "Commercial Burglary":"CommercialBurglary",
                        "Confidence Games":"ConfidenceGames",
                        "Counterfeiting":"Counterfeiting",
                        "Criminal Harassment":"CriminalHarassment",
                        "Disorderly Conduct":"DisorderlyConduct",
                        "Drug Violation":"DrugViolation",
                        "Embezzlement":"Embezzlement",
                        "Evading Fare":"EvadingFare",
                        "Explosives":"Explosives",
                        "Fire Related Reports":"FireRelatedReports",
                        "Firearm Discovery":"FirearmDiscovery",
                        "Firearm Violations":"FirearmViolations",
                        "Fraud":"Fraud",
                        "Gambling":"Gambling",
                        "HOME INVASION":"HOMEINVASION",
                        "HUMAN TRAFFICKING":"HUMANTRAFFICKING",
                        "HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE":"HUMANTRAFFICKING-INVOLUNTARYSERVITUDE",
                        "Harassment":"Harassment",
                        "Harbor Related Incidents":"HarborRelatedIncidents",
                        "Homicide":"Homicide",
                        "INVESTIGATE PERSON":"INVESTIGATEPERSON",
                        "Investigate Person":"InvestigatePerson",
                        "Investigate Property":"InvestigateProperty",
                        "Landlord/Tenant Disputes":"Landlord/TenantDisputes",
                        "Larceny":"Larceny",
                        "Larceny From Motor Vehicle":"LarcenyFromMotorVehicle",
                        "License Plate Related Incidents":"LicensePlateRelatedIncidents",
                        "License Violation":"LicenseViolation",
                        "Liquor Violation":"LiquorViolation",
                        "Manslaughter":"Manslaughter",
                        "Medical Assistance":"MedicalAssistance",
                        "Missing Person Located":"MissingPersonLocated",
                        "Missing Person Reported":"MissingPersonReported",
                        "Motor Vehicle Accident Response":"MotorVehicleAccidentResponse",
                        "Offenses Against Child / Family":"OffensesAgainstChild/Family",
                        "Operating Under the Influence":"OperatingUndertheInfluence",
                        "Other":"Other",
                        "Other Burglary":"OtherBurglary",
                        "Phone Call Complaints":"PhoneCallComplaints",
                        "Police Service Incidents":"PoliceServiceIncidents",
                        "Prisoner Related Incidents":"PrisonerRelatedIncidents",
                        "Property Found":"PropertyFound",
                        "Property Lost":"PropertyLost",
                        "Property Related Damage":"PropertyRelatedDamage",
                        "Prostitution":"Prostitution",
                        "Recovered Stolen Property":"RecoveredStolenProperty",
                        "Residential Burglary":"ResidentialBurglary",
                        "Restraining Order Violations":"RestrainingOrderViolations",
                        "Robbery":"Robbery",
                        "Search Warrants":"SearchWarrants",
                        "Service":"Service",
                        "Simple Assault":"SimpleAssault",
                        "Towed":"Towed",
                        "Vandalism":"Vandalism",
                        "Verbal Disputes":"VerbalDisputes",
                        "Violations":"Violations",
                        "Warrant Arrests":"WarrantArrests",
                        "INCIDENT_NUMBER":"INCIDENT_NUMBER",
                        "Friday":"Friday",
                        "Monday":"Monday",
                        "Saturday":"Saturday",
                        "Sunday":"Sunday",
                        "Thursday":"Thursday",
                        "Tuesday":"Tuesday",
                        "Wednesday":"Wednesday",
                        "INCIDENT_NUMBER":"INCIDENT_NUMBER"
                        }, 
                        inplace=True)

In [35]:
import statsmodels.api as sm 
m = sm.OLS.from_formula('Counterfeiting ~  Monday + Tuesday + Wednesday + Thursday + Friday + Saturday + A15 + A7 + B2 + B3 + C11 + C6 + D14 + D4 + E13 + E18 + E5', 
                        crimedf)

In [36]:
m = sm.OLS.from_formula('DrugViolation ~  Monday + Tuesday + Wednesday + Thursday + Friday + Saturday + A15 + A7 + B2 + B3 + C11 + C6 + D14 + D4 + E13 + E18 + E5', 
                        crimedf)

In [37]:
res = m.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          DrugViolation   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     85.42
Date:                Tue, 10 Sep 2019   Prob (F-statistic):          4.78e-298
Time:                        14:16:44   Log-Likelihood:                 28569.
No. Observations:              319073   AIC:                        -5.710e+04
Df Residuals:                  319055   BIC:                        -5.691e+04
Df Model:                          17
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0345      0.002     22.522      0.000       0.032       0.038
Monday         0.0296      0.002     19.567      0.000       0.027       0.033
Tuesday        0.0326      0.002     21.626      0.000       0.030       0.036
Wednesday      0.0332      0.002     22.069      0.000       0.030       0.036
Thursday       0.0318      0.002     21.149      0.000       0.029       0.035
Friday         0.0293      0.001     19.658      0.000       0.026       0.032
Saturday       0.0191      0.002     12.557      0.000       0.016       0.022
A15           -0.0105      0.003     -3.528      0.000      -0.016      -0.005
A7             0.0067      0.002      3.006      0.003       0.002       0.011
B2            -0.0149      0.002     -9.868      0.000      -0.018      -0.012
B3            -0.0175      0.002    -10.673      0.000      -0.021      -0.014
C11           -0.0082      0.002     -5.199      0.000      -0.011      -0.005
C6             0.0171      0.002      9.261      0.000       0.013       0.021
D14           -0.0257      0.002    -13.308      0.000      -0.030      -0.022
D4            -0.0119      0.002     -7.563      0.000      -0.015      -0.009
E13            0.0012      0.002      0.581      0.561      -0.003       0.005
E18           -0.0155      0.002     -7.632      0.000      -0.019      -0.012
E5            -0.0071      0.002     -3.192      0.001      -0.012      -0.003
==============================================================================
Omnibus:                   253349.664   Durbin-Watson:                   1.528
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3538753.792
Skew:                           4.014   Prob(JB):                         0.00
Kurtosis:                      17.203   Cond. No.                         12.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [38]:
X = x1.drop(['Sunday','A1','h0'],  axis=1)

In [39]:
m = sm.OLS(crimedf["DrugViolation"],X)

In [40]:
res = m.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          DrugViolation   R-squared (uncentered):                 -92.780
Model:                            OLS   Adj. R-squared (uncentered):            -92.791
Method:                 Least Squares   F-statistic:                             -7891.
Date:                Tue, 10 Sep 2019   Prob (F-statistic):                        1.00
Time:                        14:16:51   Log-Likelihood:                          31027.
No. Observations:              319073   AIC:                                 -6.197e+04
Df Residuals:                  319033   BIC:                                 -6.155e+04
Df Model:                          40
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Friday         0.0320      0.001     22.893      0.000       0.029       0.035
Monday         0.0307      0.001     21.587      0.000       0.028       0.033
Saturday       0.0239      0.001     16.895      0.000       0.021       0.027
Thursday       0.0341      0.001     24.121      0.000       0.031       0.037
Tuesday        0.0335      0.001     23.643      0.000       0.031       0.036
Wednesday      0.0346      0.001     24.484      0.000       0.032       0.037
A15           -0.0061      0.003     -2.098      0.036      -0.012      -0.000
A7             0.0103      0.002      4.837      0.000       0.006       0.014
B2            -0.0111      0.001     -7.925      0.000      -0.014      -0.008
B3            -0.0138      0.002     -8.977      0.000      -0.017      -0.011
C11           -0.0040      0.001     -2.749      0.006      -0.007      -0.001
C6             0.0205      0.002     11.751      0.000       0.017       0.024
D14           -0.0200      0.002    -10.876      0.000      -0.024      -0.016
D4            -0.0087      0.001     -5.927      0.000      -0.012      -0.006
E13            0.0043      0.002      2.229      0.026       0.001       0.008
E18           -0.0127      0.002     -6.512      0.000      -0.016      -0.009
E5            -0.0028      0.002     -1.283      0.200      -0.007       0.001
h1             0.0099      0.003      3.946      0.000       0.005       0.015
h2             0.0056      0.003      2.055      0.040       0.000       0.011
h3             0.0020      0.003      0.585      0.558      -0.005       0.009
h4             0.0118      0.004      2.999      0.003       0.004       0.019
h5            -0.0091      0.004     -2.274      0.023      -0.017      -0.001
h6             0.0082      0.003      2.469      0.014       0.002       0.015
h7            -0.0026      0.003     -0.999      0.318      -0.008       0.003
h8            -0.0011      0.002     -0.493      0.622      -0.006       0.003
h9            -0.0015      0.002     -0.696      0.487      -0.006       0.003
h10            0.0105      0.002      5.060      0.000       0.006       0.015
h11            0.0205      0.002      9.903      0.000       0.016       0.025
h12            0.0220      0.002     11.102      0.000       0.018       0.026
h13            0.0366      0.002     17.847      0.000       0.033       0.041
h14            0.0372      0.002     18.213      0.000       0.033       0.041
h15            0.0394      0.002     19.040      0.000       0.035       0.043
h16            0.0601      0.002     30.880      0.000       0.056       0.064
h17            0.0799      0.002     41.776      0.000       0.076       0.084
h18            0.0779      0.002     40.328      0.000       0.074       0.082
h19            0.0630      0.002     31.060      0.000       0.059       0.067
h20            0.0373      0.002     17.794      0.000       0.033       0.041
h21            0.0114      0.002      5.204      0.000       0.007       0.016
h22         -6.36e-05      0.002     -0.028      0.977      -0.004       0.004
h23           -0.0074      0.002     -3.061      0.002      -0.012      -0.003
==============================================================================
Omnibus:                   248331.367   Durbin-Watson:                   1.556
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3326307.608
Skew:                           3.915   Prob(JB):                         0.00
Kurtosis:                      16.744   Cond. No.                         9.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
m2 = sm.OLS(crimedf["MedicalAssistance"],X)
res2 = m2.fit()
print(res2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:      MedicalAssistance   R-squared (uncentered):                 -88.073
Model:                            OLS   Adj. R-squared (uncentered):            -88.084
Method:                 Least Squares   F-statistic:                             -7886.
Date:                Tue, 10 Sep 2019   Prob (F-statistic):                        1.00
Time:                        14:17:00   Log-Likelihood:                         -24142.
No. Observations:              319073   AIC:                                  4.836e+04
Df Residuals:                  319033   BIC:                                  4.879e+04
Df Model:                          40
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Friday         0.0071      0.002      4.257      0.000       0.004       0.010
Monday         0.0126      0.002      7.471      0.000       0.009       0.016
Saturday       0.0076      0.002      4.536      0.000       0.004       0.011
Thursday       0.0127      0.002      7.574      0.000       0.009       0.016
Tuesday        0.0118      0.002      7.015      0.000       0.009       0.015
Wednesday      0.0140      0.002      8.328      0.000       0.011       0.017
A15            0.0243      0.003      7.056      0.000       0.018       0.031
A7             0.0464      0.003     18.287      0.000       0.041       0.051
B2             0.0172      0.002     10.342      0.000       0.014       0.020
B3             0.0146      0.002      7.975      0.000       0.011       0.018
C11            0.0272      0.002     15.733      0.000       0.024       0.031
C6             0.0325      0.002     15.659      0.000       0.028       0.037
D14            0.0325      0.002     14.873      0.000       0.028       0.037
D4             0.0072      0.002      4.126      0.000       0.004       0.011
E13            0.0317      0.002     13.746      0.000       0.027       0.036
E18            0.0473      0.002     20.459      0.000       0.043       0.052
E5             0.0645      0.003     25.216      0.000       0.059       0.070
h1             0.0509      0.003     17.060      0.000       0.045       0.057
h2             0.0498      0.003     15.469      0.000       0.043       0.056
h3             0.0612      0.004     15.090      0.000       0.053       0.069
h4             0.0769      0.005     16.494      0.000       0.068       0.086
h5             0.0810      0.005     17.099      0.000       0.072       0.090
h6             0.0475      0.004     12.040      0.000       0.040       0.055
h7             0.0320      0.003     10.277      0.000       0.026       0.038
h8             0.0341      0.003     12.695      0.000       0.029       0.039
h9             0.0362      0.003     14.094      0.000       0.031       0.041
h10            0.0489      0.002     19.826      0.000       0.044       0.054
h11            0.0455      0.002     18.481      0.000       0.041       0.050
h12            0.0396      0.002     16.774      0.000       0.035       0.044
h13            0.0466      0.002     19.103      0.000       0.042       0.051
h14            0.0449      0.002     18.515      0.000       0.040       0.050
h15            0.0423      0.002     17.209      0.000       0.037       0.047
h16            0.0319      0.002     13.773      0.000       0.027       0.036
h17            0.0305      0.002     13.423      0.000       0.026       0.035
h18            0.0310      0.002     13.489      0.000       0.026       0.035
h19            0.0382      0.002     15.858      0.000       0.033       0.043
h20            0.0434      0.002     17.439      0.000       0.039       0.048
h21            0.0509      0.003     19.603      0.000       0.046       0.056
h22            0.0490      0.003     18.295      0.000       0.044       0.054
h23            0.0415      0.003     14.416      0.000       0.036       0.047
==============================================================================
Omnibus:                   204424.272   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1522121.132
Skew:                           3.231   Prob(JB):                         0.00
Kurtosis:                      11.529   Cond. No.                         9.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [2]:
import statsmodels

In [3]:
X1 = X.copy()
X1['intercept'] = 1.0

NameError: name 'X' is not defined

In [4]:
model = statsmodels.discrete.discrete_model.Logit(crimedf["DrugViolation"],X1)
result = model.fit()
result.summary()

AttributeError: module 'statsmodels' has no attribute 'discrete'

In [51]:
model = statsmodels.discrete.discrete_model.Logit(crimedf["MedicalAssistance"],X1)
result = model.fit()
result.summary()

C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1789: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

Optimization terminated successfully.
         Current function value: inf
         Iterations 7

C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:      MedicalAssistance   No. Observations:               319073
Model:                          Logit   Df Residuals:                   319032
Method:                           MLE   Df Model:                           40
Date:                Tue, 10 Sep 2019   Pseudo R-squ.:                     inf
Time:                        14:23:55   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Friday        -0.0607      0.026     -2.322      0.020      -0.112      -0.009
Monday         0.0236      0.026      0.904      0.366      -0.028       0.075
Saturday      -0.0588      0.027     -2.216      0.027      -0.111      -0.007
Thursday       0.0244      0.026      0.939      0.348      -0.027       0.075
Tuesday        0.0131      0.026      0.504      0.614      -0.038       0.064
Wednesday      0.0442      0.026      1.704      0.088      -0.007       0.095
A15            0.1982      0.052      3.810      0.000       0.096       0.300
A7             0.4798      0.036     13.230      0.000       0.409       0.551
B2             0.0880      0.028      3.142      0.002       0.033       0.143
B3             0.0444      0.031      1.452      0.147      -0.016       0.104
C11            0.2344      0.028      8.307      0.000       0.179       0.290
C6             0.3068      0.032      9.541      0.000       0.244       0.370
D14            0.3053      0.034      9.088      0.000       0.239       0.371
D4            -0.0884      0.030     -2.927      0.003      -0.148      -0.029
E13            0.3029      0.035      8.634      0.000       0.234       0.372
E18            0.4953      0.034     14.758      0.000       0.430       0.561
E5             0.6732      0.035     19.307      0.000       0.605       0.742
h1             0.2913      0.051      5.687      0.000       0.191       0.392
h2             0.2702      0.055      4.951      0.000       0.163       0.377
h3             0.4274      0.062      6.939      0.000       0.307       0.548
h4             0.6091      0.065      9.395      0.000       0.482       0.736
h5             0.6523      0.064     10.126      0.000       0.526       0.779
h6             0.2734      0.062      4.428      0.000       0.152       0.394
h7             0.0474      0.055      0.867      0.386      -0.060       0.155
h8             0.0804      0.049      1.652      0.099      -0.015       0.176
h9             0.1104      0.047      2.356      0.018       0.019       0.202
h10            0.2915      0.044      6.579      0.000       0.205       0.378
h11            0.2448      0.045      5.482      0.000       0.157       0.332
h12            0.1581      0.044      3.583      0.000       0.072       0.245
h13            0.2593      0.044      5.856      0.000       0.172       0.346
h14            0.2365      0.044      5.344      0.000       0.150       0.323
h15            0.1990      0.045      4.430      0.000       0.111       0.287
h16            0.0373      0.044      0.838      0.402      -0.050       0.124
h17            0.0117      0.044      0.265      0.791      -0.075       0.099
h18            0.0203      0.044      0.457      0.648      -0.067       0.108
h19            0.1388      0.045      3.096      0.002       0.051       0.227
h20            0.2135      0.045      4.722      0.000       0.125       0.302
h21            0.3174      0.046      6.967      0.000       0.228       0.407
h22            0.2904      0.047      6.212      0.000       0.199       0.382
h23            0.1842      0.050      3.656      0.000       0.085       0.283
intercept     -2.9051      0.043    -67.719      0.000      -2.989      -2.821
==============================================================================
"""