# Logit Classification Model
The objective of this notebook is to build logit models to classify crime incidences into: drug violation or not or medical assistance or not medical assistance.

In [1]:
#this code makes all output to be shown
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np
crime = pd.read_csv("C:\\Users\\willi\\Dropbox\\working\\RAW_DATA\\Boston Crime\\crime.csv", encoding ='raw_unicode_escape')
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

#### Map of Police Districts in Boston
One of the variables in the data frame is "DISTRICT" which is shown here:
<img src="files/BPD_locations.jpg">

In [3]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 17 columns):
INCIDENT_NUMBER        319073 non-null object
OFFENSE_CODE           319073 non-null int64
OFFENSE_CODE_GROUP     319073 non-null object
OFFENSE_DESCRIPTION    319073 non-null object
DISTRICT               317308 non-null object
REPORTING_AREA         319073 non-null object
SHOOTING               1019 non-null object
OCCURRED_ON_DATE       319073 non-null object
YEAR                   319073 non-null int64
MONTH                  319073 non-null int64
DAY_OF_WEEK            319073 non-null object
HOUR                   319073 non-null int64
UCR_PART               318983 non-null object
STREET                 308202 non-null object
Lat                    299074 non-null float64
Long                   299074 non-null float64
Location               319073 non-null object
dtypes: float64(2), int64(4), object(11)
memory usage: 41.4+ MB

In [55]:
pd.crosstab(index=crime["YEAR"], columns=crime["DISTRICT"])

DISTRICT,A1,A15,A7,B2,B3,C11,C6,D14,D4,E13,E18,E5
YEAR,,,,,,,,,,,,
2015,6015,1027,2426,8687,5617,7364,3941,3280,7204,2801,2740,2158
2016,10923,1986,4130,15706,11145,13603,7073,6279,12953,5559,5223,4017
2017,11375,2167,4264,15680,11195,13281,7247,6509,13157,5514,5612,4309
2018,7404,1325,2724,9872,7485,8282,5199,4059,8601,3662,3773,2755

In [3]:
#how many years do we have?
pd.crosstab(index=crime["YEAR"], columns="count")
#2015 till 2018

col_0   count
YEAR
2015    53388
2016    99114
2017   100886
2018    65685

###### Idea for later
For each district or subarea (windows) we can make a time series counting the occurence of crimes, and model them for example using a Bayesian estimation. For example using discrete time series.

###### Take only 2015 for analysis

In [4]:
crime2015 = crime[crime.YEAR==2015]

In [5]:
size = crime2015.shape[0]
size #size of sample
size/10 #size of test set

53388

5338.8

In [6]:
sequence = np.arange(0,size)
sequence

array([    0,     1,     2, ..., 53385, 53386, 53387])

In [7]:
seq2 = np.ndarray.tolist(sequence)
seq2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [8]:
type(seq2)

list

In [9]:
type(sequence)

numpy.ndarray

In [10]:
k = size/10
k = int(k)
k

5338

In [12]:
import random 
random.seed(9001)
random_sample = random.sample(seq2, k)
#random_sample = random.sample([1,2,3], 1)
random_sample

[2431,
 19774,
 16585,
 4470,
 36962,
 16442,
 37308,
 39723,
 33622,
 3545,
 46701,
 43282,
 17663,
 40337,
 41410,
 35270,
 41557,
 49710,
 50845,
 23222,
 19087,
 38575,
 33720,
 4865,
 35390,
 29105,
 47746,
 50409,
 14432,
 39912,
 29878,
 48441,
 25691,
 52505,
 14609,
 16209,
 32215,
 8237,
 20029,
 14499,
 10695,
 25694,
 41615,
 24607,
 34530,
 34075,
 18221,
 11316,
 19827,
 32454,
 8157,
 51447,
 25967,
 41631,
 33692,
 174,
 45410,
 14146,
 41414,
 363,
 31809,
 40356,
 47380,
 32809,
 18266,
 2846,
 27947,
 36139,
 22880,
 7490,
 37358,
 46696,
 44918,
 15607,
 23646,
 33854,
 46426,
 46054,
 18856,
 19149,
 24181,
 787,
 47282,
 48065,
 33480,
 18966,
 49755,
 28322,
 3893,
 20200,
 51432,
 27534,
 38885,
 28823,
 7673,
 12560,
 52467,
 50684,
 32482,
 42186,
 7235,
 1780,
 52042,
 34312,
 5166,
 9141,
 43219,
 52873,
 23287,
 21204,
 24796,
 15280,
 34762,
 20092,
 44330,
 48725,
 8216,
 16815,
 6474,
 27025,
 28044,
 33526,
 49983,
 27811,
 12029,
 41342,
 48113,
 43593,
 11116,
 31475,
 43246,
 13698,
 9164,
 12471,
 10729,
 15018,
 637,
 17206,
 31468,
 13395,
 24172,
 42107,
 15346,
 9927,
 46641,
 52136,
 3971,
 8646,
 43494,
 6675,
 52802,
 7240,
 34227,
 10817,
 43507,
 31320,
 36865,
 21931,
 15237,
 20701,
 15699,
 29802,
 46572,
 26062,
 32716,
 46672,
 45798,
 47580,
 15803,
 35876,
 47000,
 34697,
 40038,
 12958,
 51999,
 26641,
 34517,
 28085,
 6499,
 36333,
 17599,
 530,
 38536,
 15955,
 33975,
 13434,
 6618,
 40088,
 45314,
 15774,
 27924,
 16749,
 33960,
 8921,
 26084,
 42405,
 3260,
 31280,
 1415,
 27395,
 9354,
 19432,
 40998,
 24698,
 1514,
 23804,
 33221,
 27760,
 17040,
 6890,
 41272,
 4138,
 11718,
 35931,
 1746,
 45527,
 14768,
 26645,
 30290,
 48832,
 44086,
 8442,
 20168,
 8268,
 46006,
 40696,
 41425,
 22776,
 26644,
 2472,
 42959,
 26525,
 37998,
 28780,
 28202,
 5716,
 36795,
 24458,
 46647,
 20338,
 30895,
 16032,
 35137,
 838,
 30308,
 20941,
 49642,
 11429,
 15919,
 18987,
 50309,
 17571,
 4804,
 45484,
 31849,
 36557,
 45051,
 4066,
 46551,
 5620,
 7143,
 4369,
 13540,
 26136,
 6680,
 18623,
 48075,
 18370,
 1294,
 27020,
 49350,
 14821,
 50390,
 13264,
 87,
 30275,
 44614,
 26507,
 40811,
 50454,
 33579,
 12825,
 35800,
 36146,
 40209,
 461,
 42359,
 12329,
 38351,
 17880,
 12223,
 47629,
 24857,
 41998,
 39515,
 14995,
 1718,
 1474,
 50388,
 23364,
 50468,
 50216,
 28348,
 35487,
 28424,
 20392,
 25963,
 13886,
 27256,
 14872,
 27658,
 24682,
 27186,
 42063,
 20634,
 50632,
 38062,
 19301,
 48687,
 19199,
 44507,
 35939,
 25122,
 28300,
 29830,
 20694,
 51042,
 6595,
 32247,
 8396,
 22873,
 21058,
 26286,
 19998,
 47139,
 47027,
 36789,
 5062,
 23257,
 19372,
 2684,
 47253,
 5678,
 5725,
 48830,
 41133,
 40504,
 46884,
 37423,
 47693,
 20906,
 40031,
 50940,
 45825,
 7159,
 6281,
 37541,
 31235,
 39038,
 37996,
 40072,
 34504,
 8647,
 21572,
 23010,
 14646,
 46356,
 26899,
 48406,
 13699,
 19504,
 16220,
 12732,
 51851,
 46126,
 8285,
 38870,
 43329,
 32560,
 50114,
 3431,
 46498,
 43627,
 45490,
 41079,
 6399,
 17356,
 3013,
 13858,
 18183,
 2019,
 2649,
 35568,
 33818,
 36238,
 41694,
 28788,
 43755,
 38174,
 27314,
 30433,
 59,
 3762,
 31700,
 41933,
 46707,
 13781,
 22423,
 20910,
 33379,
 13258,
 45916,
 17024,
 27887,
 27618,
 22621,
 20196,
 14803,
 33684,
 2734,
 34497,
 38370,
 41059,
 22528,
 29654,
 44352,
 39769,
 37010,
 41362,
 14765,
 13191,
 51862,
 23784,
 22499,
 33646,
 39126,
 22205,
 31103,
 29730,
 45210,
 46369,
 27945,
 23561,
 40179,
 46599,
 34949,
 41803,
 23978,
 10192,
 53163,
 52462,
 29418,
 53070,
 31552,
 8156,
 49290,
 31528,
 49690,
 38584,
 21110,
 7634,
 44705,
 52609,
 28559,
 8856,
 5551,
 37703,
 41232,
 2209,
 20750,
 41612,
 35090,
 40294,
 16158,
 34615,
 52528,
 28994,
 12299,
 14775,
 35459,
 21646,
 48102,
 27210,
 24336,
 16736,
 48233,
 3731,
 37031,
 19033,
 7547,
 30621,
 49312,
 9708,
 14710,
 39106,
 47229,
 19479,
 28807,
 25837,
 3489,
 26260,
 15078,
 53228,
 41398,
 21799,
 36631,
 17736,
 49204,
 51191,
 37778,
 10336,
 44065,
 42889,
 18113,
 40441,
 49664,
 48852,
 26987,
 31250,
 49324,
 6926,
 52714,
 17180,
 49836,
 38535,
 19061,
 5638,
 14903,
 51697,
 17306,
 8594,
 45876,
 39635,
 685,
 46465,
 27530,
 13488,
 6875,
 22212,
 1041,
 28079,
 39589,
 48312,
 11071,
 8831,
 26160,
 48664,
 27239,
 1269,
 13023,
 2629,
 27800,
 42856,
 24685,
 48703,
 24077,
 45670,
 35292,
 13180,
 29421,
 22001,
 52019,
 48011,
 14213,
 12043,
 14789,
 11493,
 21851,
 27707,
 23356,
 20399,
 21831,
 35818,
 18332,
 31541,
 24200,
 38829,
 13209,
 39351,
 40270,
 29785,
 43794,
 3620,
 29117,
 29120,
 48334,
 15920,
 5726,
 39599,
 40875,
 53334,
 3308,
 29809,
 9672,
 14498,
 46043,
 32199,
 44591,
 18174,
 19948,
 29407,
 32266,
 1838,
 39992,
 10781,
 42536,
 51276,
 44712,
 30533,
 17874,
 3177,
 47851,
 38430,
 24192,
 47409,
 42705,
 43720,
 16945,
 26200,
 17249,
 23580,
 23518,
 17764,
 10934,
 20229,
 17719,
 15622,
 44242,
 5311,
 16961,
 29828,
 17945,
 33253,
 6387,
 46235,
 22166,
 23285,
 32235,
 52340,
 19412,
 51572,
 17039,
 1123,
 8351,
 48633,
 4036,
 20579,
 11098,
 36393,
 5632,
 41657,
 32332,
 25896,
 23474,
 21877,
 41354,
 45516,
 22155,
 19453,
 48511,
 52784,
 44732,
 18081,
 42243,
 22188,
 10377,
 51086,
 26370,
 11340,
 12893,
 20607,
 9194,
 37329,
 24216,
 37981,
 43634,
 30280,
 22315,
 22107,
 42438,
 4716,
 22759,
 1948,
 15113,
 40525,
 15878,
 52499,
 30536,
 34241,
 42793,
 30963,
 26807,
 51079,
 39488,
 49533,
 26312,
 10092,
 17139,
 48674,
 36678,
 40978,
 16311,
 31690,
 42657,
 26665,
 4998,
 8267,
 37317,
 905,
 43861,
 26860,
 2261,
 50553,
 21837,
 35428,
 31539,
 21751,
 28060,
 40919,
 12221,
 35881,
 20487,
 15275,
 34265,
 50901,
 12474,
 10432,
 39999,
 19348,
 50059,
 42963,
 39753,
 50321,
 13746,
 45880,
 35373,
 18771,
 52751,
 30705,
 49884,
 21652,
 26161,
 23127,
 40116,
 9915,
 7362,
 22561,
 6914,
 7995,
 29161,
 4350,
 53274,
 17721,
 30919,
 1864,
 37403,
 52847,
 13736,
 33511,
 11697,
 18102,
 45089,
 44612,
 3106,
 20696,
 39747,
 35696,
 34237,
 29301,
 35965,
 29265,
 49392,
 50006,
 46412,
 14236,
 34725,
 3595,
 7648,
 13551,
 45801,
 29373,
 33090,
 52024,
 22043,
 48018,
 20329,
 45631,
 10899,
 37655,
 3019,
 51043,
 39473,
 44894,
 125,
 10850,
 50667,
 39991,
 51198,
 48791,
 6845,
 50328,
 41189,
 31272,
 38832,
 4924,
 27371,
 37416,
 21673,
 4782,
 15781,
 48977,
 9320,
 34759,
 39322,
 41920,
 18004,
 31621,
 9755,
 17912,
 5767,
 31202,
 19829,
 36028,
 25940,
 38169,
 34337,
 19053,
 3900,
 36870,
 6074,
 9001,
 44362,
 49348,
 38627,
 7581,
 14359,
 5996,
 1105,
 49435,
 19243,
 44875,
 13102,
 6708,
 9468,
 4836,
 50027,
 21376,
 34737,
 27173,
 876,
 45014,
 32819,
 23059,
 34785,
 7515,
 37977,
 10553,
 29683,
 1176,
 49799,
 23850,
 142,
 20546,
 14809,
 48612,
 44755,
 19389,
 9574,
 40362,
 52059,
 51505,
 10523,
 26708,
 12458,
 52156,
 24746,
 10316,
 9017,
 47428,
 46471,
 39054,
 21874,
 43164,
 5108,
 20133,
 3813,
 49659,
 9667,
 1903,
 3492,
 32932,
 27407,
 42781,
 3692,
 46138,
 20664,
 32485,
 26733,
 20371,
 10873,
 33176,
 5926,
 5367,
 34930,
 9689,
 38464,
 31638,
 51873,
 4938,
 40578,
 1906,
 2348,
 2467,
 10215,
 16987,
 35928,
 47938,
 14777,
 28536,
 268,
 4755,
 42592,
 29485,
 41315,
 32479,
 52726,
 40193,
 15986,
 14308,
 40402,
 33538,
 18112,
 42526,
 16911,
 19523,
 23501,
 52486,
 9309,
 18324,
 27219,
 15099,
 11342,
 19587,
 40098,
 34454,
 23023,
 37912,
 29594,
 34997,
 7896,
 15012,
 40939,
 39616,
 31423,
 11482,
 47699,
 27315,
 48538,
 17485,
 25484,
 19821,
 10392,
 11786,
 39730,
 14798,
 15827,
 43520,
 507,
 14230,
 6129,
 46788,
 44580,
 26418,
 33092,
 51515,
 27878,
 48364,
 13129,
 52646,
 30908,
 13192,
 5861,
 31161,
 41213,
 19322,
 44127,
 25766,
 49135,
 43430,
 50011,
 21179,
 50465,
 6119,
 47066,
 19915,
 16224,
 47063,
 53356,
 29310,
 46293,
 ...]

In [13]:
len(random_sample)

5338

In [15]:
#create vector saying 1 for test and 0 for training
testvec = np.zeros(size)
testvec[random_sample] = 1

In [16]:
type(testvec)

numpy.ndarray

In [17]:
#transform into boolean values
testvec = testvec>0

In [18]:
pd.crosstab(index=testvec, columns="count")

col_0  count
row_0
False  48050
True    5338

In [19]:
#make vector for training set
trainvec = ~testvec

In [21]:
pd.crosstab(index=trainvec, columns="count")

col_0  count
row_0
False   5338
True   48050

In [22]:
#create training and test datasets
crime2015train = crime2015[trainvec]
crime2015test = crime2015[testvec]
crime2015train.shape
crime2015test.shape

(48050, 17)

(5338, 17)

In [23]:
crime2015.head(50)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
4363,I182066132,2629,Harassment,HARASSMENT,B3,455,NaN,2015-07-31 23:27:00,2015,7,Friday,23,Part Two,RADCLIFFE ST,42.300202,-71.078354,"(42.30020194, -71.07835353)"
8793,I182061268,3201,Property Lost,PROPERTY - LOST,NaN,,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,BERNARD,-1.000000,-1.000000,"(-1.00000000, -1.00000000)"
14715,I182054888,2647,Other,THREATS TO DO BODILY HARM,B2,326,NaN,2015-07-12 15:37:00,2015,7,Sunday,15,Part Two,FAYSTON ST,42.312243,-71.075499,"(42.31224327, -71.07549901)"
16645,I182052842,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,619,NaN,2015-12-20 14:00:00,2015,12,Sunday,14,Part Two,WESTLAND AVE,42.343917,-71.089675,"(42.34391716, -71.08967541)"
16646,I182052842,619,Larceny,LARCENY ALL OTHERS,D4,619,NaN,2015-12-20 14:00:00,2015,12,Sunday,14,Part One,WESTLAND AVE,42.343917,-71.089675,"(42.34391716, -71.08967541)"
24888,I182044114,1107,Fraud,FRAUD - IMPERSONATION,E18,486,NaN,2015-07-01 12:00:00,2015,7,Wednesday,12,Part Two,OAKCREST RD,42.264521,-71.104292,"(42.26452149, -71.10429211)"
29257,I182039429,1107,Fraud,FRAUD - IMPERSONATION,C6,226,NaN,2015-11-26 08:00:00,2015,11,Thursday,8,Part Two,E FOURTH ST,42.334717,-71.038678,"(42.33471684, -71.03867801)"
35652,I182032622,2647,Other,THREATS TO DO BODILY HARM,D4,129,NaN,2015-10-10 13:17:00,2015,10,Saturday,13,Part Two,BERKELEY ST,42.349976,-71.072426,"(42.34997636, -71.07242619)"
36860,I182031354,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D14,791,NaN,2015-09-15 11:00:00,2015,9,Tuesday,11,Part Two,ALLSTON ST,42.344388,-71.140586,"(42.34438811, -71.14058580)"
50414,I182016943,3201,Property Lost,PROPERTY - LOST,C11,366,NaN,2015-08-20 08:00:00,2015,8,Thursday,8,Part Three,EDWIN ST,42.289433,-71.060522,"(42.28943324, -71.06052190)"
51213,I182016069,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,C11,450,NaN,2015-10-07 12:00:00,2015,10,Wednesday,12,Part Two,WASHINGTON ST,42.291823,-71.071734,"(42.29182298, -71.07173417)"
51220,I182016059,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,C11,352,NaN,2015-08-01 06:00:00,2015,8,Saturday,6,Part Two,DITSON ST,42.300475,-71.063566,"(42.30047534, -71.06356605)"
52592,I182014576,1107,Fraud,FRAUD - IMPERSONATION,A1,122,NaN,2015-08-01 15:34:00,2015,8,Saturday,15,Part Two,WASHINGTON ST,42.350005,-71.063591,"(42.35000492, -71.06359053)"
58541,I182008210,1107,Fraud,FRAUD - IMPERSONATION,NaN,,NaN,2015-07-01 00:00:00,2015,7,Wednesday,0,Part Two,COBDEN,-1.000000,-1.000000,"(-1.00000000, -1.00000000)"
59138,I182007589,735,Auto Theft Recovery,RECOVERED - MV RECOVERED IN BOSTON (STOLEN OUT...,C11,385,NaN,2015-11-29 11:47:00,2015,11,Sunday,11,Other,HALLET ST,42.280767,-71.047365,"(42.28076737, -71.04736497)"
59788,I182006901,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,C11,345,NaN,2015-12-07 04:00:00,2015,12,Monday,4,Part Two,DRAPER ST,42.302871,-71.063992,"(42.30287064, -71.06399249)"
66991,I172106897,1107,Fraud,FRAUD - IMPERSONATION,A7,20,NaN,2015-07-01 08:00:00,2015,7,Wednesday,8,Part Two,PARIS ST,42.377023,-71.032247,"(42.37702319, -71.03224730)"
70724,I172102851,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,C11,342,NaN,2015-09-01 00:00:00,2015,9,Tuesday,0,Part Two,TOPLIFF ST,42.304435,-71.068629,"(42.30443502, -71.06862907)"
74160,I172099191,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,C11,365,NaN,2015-09-10 09:00:00,2015,9,Thursday,9,Part Two,SEMONT RD,42.290897,-71.061567,"(42.29089749, -71.06156671)"
77246,I172095919,615,Larceny From Motor Vehicle,LARCENY THEFT OF MV PARTS & ACCESSORIES,C11,366,NaN,2015-10-01 08:00:00,2015,10,Thursday,8,Part One,EDWIN ST,42.289433,-71.060522,"(42.28943324, -71.06052190)"
78313,I172094797,3115,Investigate Person,INVESTIGATE PERSON,D14,775,NaN,2015-07-01 00:01:00,2015,7,Wednesday,0,Part Three,WALLINGFORD RD,42.341349,-71.151228,"(42.34134946, -71.15122795)"
79746,I172093275,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,A1,101,NaN,2015-08-21 09:00:00,2015,8,Friday,9,Part Two,BROAD ST,42.359196,-71.054638,"(42.35919555, -71.05463831)"
85933,I172086628,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,165,NaN,2015-10-15 00:00:00,2015,10,Thursday,0,Part Two,ALBANY ST,42.342559,-71.062708,"(42.34255919, -71.06270824)"
89545,I172082742,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,C11,346,NaN,2015-12-08 09:00:00,2015,12,Tuesday,9,Part Two,JULIETTE ST,42.305844,-71.062616,"(42.30584423, -71.06261555)"
91496,I172080681,1107,Fraud,FRAUD - IMPERSONATION,B3,469,NaN,2015-09-27 15:19:00,2015,9,Sunday,15,Part Two,COLORADO ST,42.278824,-71.097772,"(42.27882383, -71.09777223)"
94364,I172077677,3110,Police Service Incidents,SERVICE TO OTHER PD OUTSIDE OF MA.,E5,552,NaN,2015-09-01 12:00:00,2015,9,Tuesday,12,Part Three,DENTON TER,42.280230,-71.133143,"(42.28023006, -71.13314261)"
95611,I172076361,619,Larceny,LARCENY ALL OTHERS,E5,723,NaN,2015-09-01 00:00:00,2015,9,Tuesday,0,Part One,VFW PKWY,42.268975,-71.171831,"(42.26897529, -71.17183138)"
96098,I172075854,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,B2,315,NaN,2015-09-02 09:00:00,2015,9,Wednesday,9,Part Two,WAUMBECK ST,42.314013,-71.086353,"(42.31401290, -71.08635277)"
97597,I172074233,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,B3,565,NaN,2015-10-03 09:00:00,2015,10,Saturday,9,Part Two,SENATOR BOLLING CIR,42.289131,-71.092930,"(42.28913147, -71.09293028)"
102386,I172069151,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,170,NaN,2015-08-13 09:00:00,2015,8,Thursday,9,Part Two,E SPRINGFIELD ST,42.336029,-71.075178,"(42.33602920, -71.07517847)"
105662,I172065681,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,B2,258,NaN,2015-07-25 02:00:00,2015,7,Saturday,2,Part Two,MONADNOCK ST,42.316339,-71.068800,"(42.31633855, -71.06879992)"
105663,I172065679,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,E18,520,NaN,2015-10-01 09:30:00,2015,10,Thursday,9,Part Two,HYDE PARK AVE,42.267011,-71.120962,"(42.26701085, -71.12096171)"
105664,I172065677,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,E18,478,NaN,2015-08-17 00:00:00,2015,8,Monday,0,Part Two,SEMINOLE ST,42.271268,-71.109855,"(42.27126831, -71.10985526)"
105665,I172065676,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D14,791,NaN,2015-11-24 00:00:00,2015,11,Tuesday,0,Part Two,CAROL AVE,42.344980,-71.140906,"(42.34497953, -71.14090626)"
105728,I172065597,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,E18,498,NaN,2015-11-18 09:00:00,2015,11,Wednesday,9,Part Two,CLARE AVE,42.273601,-71.118970,"(42.27360053, -71.11897042)"
109745,I172061344,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,A1,92,NaN,2015-10-13 12:00:00,2015,10,Tuesday,12,Part Two,COURT ST,NaN,NaN,"(0.00000000, 0.00000000)"
110143,I172060902,1109,Fraud,FRAUD - WIRE,B2,311,NaN,2015-11-12 12:00:00,2015,11,Thursday,12,Part Two,BLUE HILL AVE,42.316057,-71.078200,"(42.31605690, -71.07820017)"
115889,I172054798,3125,Warrant Arrests,WARRANT ARREST,A1,111,NaN,2015-11-12 00:00:00,2015,11,Thursday,0,Part Three,TREMONT ST,42.354284,-71.063804,"(42.35428377, -71.06380404)"
115914,I172054771,3201,Property Lost,PROPERTY - LOST,A1,86,NaN,2015-07-07 00:01:00,2015,7,Tuesday,0,Part Three,COOPER ST,42.364441,-71.056999,"(42.36444073, -71.05699892)"
122494,I172047781,724,Auto Theft,AUTO THEFT,C11,401,NaN,2015-11-15 18:00:00,2015,11,Sunday,18,Part One,TALBOT AVE,42.287148,-71.064930,"(42.28714820, -71.06493039)"
126290,I172043679,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,A7,30,NaN,2015-07-15 00:00:00,2015,7,Wednesday,0,Part Two,COTTAGE ST,42.370106,-71.032620,"(42.37010622, -71.03261984)"
129056,I172040657,2629,Harassment,HARASSMENT,C11,397,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)"
131411,I172038128,619,Larceny,LARCENY ALL OTHERS,A1,116,NaN,2015-07-30 00:00:00,2015,7,Thursday,0,Part One,LINCOLN ST,42.351318,-71.058384,"(42.35131763, -71.05838367)"
132686,I172036765,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,B3,433,NaN,2015-09-07 12:00:00,2015,9,Monday,12,Part Two,EVANS ST,42.281455,-71.083510,"(42.28145538, -71.08351029)"
140410,I172028486,619,Larceny,LARCENY ALL OTHERS,A1,112,NaN,2015-11-01 14:57:00,2015,11,Sunday,14,Part One,CHAUNCY ST,42.352851,-71.060964,"(42.35285118, -71.06096412)"
142243,I172026505,1107,Fraud,FRAUD - IMPERSONATION,B2,292,NaN,2015-08-01 12:00:00,2015,8,Saturday,12,Part Two,JOHN ELIOT SQ,42.330013,-71.091179,"(42.33001318, -71.09117863)"
142851,I172025850,2629,Harassment,HARASSMENT,B3,469,NaN,2015-09-15 07:30:00,2015,9,Tuesday,7,Part Two,COLORADO ST,42.278824,-71.097772,"(42.27882383, -71.09777223)"
142893,I172025802,3201,Property Lost,PROPERTY - LOST,D14,795,NaN,2015-09-25 12:00:00,2015,9,Friday,12,Part Three,COMMONWEALTH AVE,42.349007,-71.138601,"(42.34900739, -71.13860108)"
144179,I172024459,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,B3,456,NaN,2015-08-29 09:00:00,2015,8,Saturday,9,Part Two,GREENWOOD ST,42.302621,-71.079184,"(42.30262129, -71.07918399)"
144476,I172024139,619,Larceny,LARCENY ALL OTHERS,C11,395,NaN,2015-12-20 20:00:00,2015,12,Sunday,20,Part One,DORCHESTER AVE,42.284398,-71.064684,"(42.28439820, -71.06468373)"

In [24]:
crime2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53388 entries, 4363 to 319072
Data columns (total 17 columns):
INCIDENT_NUMBER        53388 non-null object
OFFENSE_CODE           53388 non-null int64
OFFENSE_CODE_GROUP     53388 non-null object
OFFENSE_DESCRIPTION    53388 non-null object
DISTRICT               53260 non-null object
REPORTING_AREA         53388 non-null object
SHOOTING               185 non-null object
OCCURRED_ON_DATE       53388 non-null object
YEAR                   53388 non-null int64
MONTH                  53388 non-null int64
DAY_OF_WEEK            53388 non-null object
HOUR                   53388 non-null int64
UCR_PART               53387 non-null object
STREET                 52106 non-null object
Lat                    51207 non-null float64
Long                   51207 non-null float64
Location               53388 non-null object
dtypes: float64(2), int64(4), object(11)
memory usage: 7.3+ MB

In [25]:
#the 20250 dont have reporting are, not very useful information
pd.crosstab(index=crime["REPORTING_AREA"], columns="count")

col_0           count
REPORTING_AREA
                20250
000                13
1                  36
10                189
100               352
...               ...
961                32
962                59
97                351
98                353
99                102

[879 rows x 1 columns]

In [26]:
#create hour dummy
hour_dummy = pd.get_dummies(crime2015["HOUR"])
hour_dummy.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
4363,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8793,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14715,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16645,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16646,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [27]:
hour_dummy.columns = ["h0",	"h1",	"h2",	"h3",	"h4",	"h5",	"h6",	"h7",	"h8",	"h9",	"h10",	"h11",	"h12",	"h13",	"h14",	"h15",	"h16",	"h17",	"h18",	"h19",	"h20",	"h21",	"h22",	"h23"] 
hour_dummy.head()

,h0,h1,h2,h3,h4,h5,h6,h7,h8,h9,...,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
4363,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8793,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14715,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16645,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16646,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [28]:
pd.crosstab(index=crime2015["HOUR"], columns="count")

col_0  count
HOUR
0       2752
1       1643
2       1330
3        803
4        539
5        567
6        802
7       1476
8       2095
9       2527
10      2641
11      2746
12      3229
13      2712
14      2898
15      2688
16      3254
17      3501
18      3426
19      2855
20      2684
21      2264
22      2160
23      1796

In [29]:
#create dummies for month
month_dummy = pd.get_dummies(crime2015["MONTH"])
month_dummy.columns = ["m06",	"m07",	"m08",	"m09",	"m10",	"m11",	"m12"] 
month_dummy.head()
#there are only data begining in 06, june

       m06  m07  m08  m09  m10  m11  m12
4363     0    1    0    0    0    0    0
8793     1    0    0    0    0    0    0
14715    0    1    0    0    0    0    0
16645    0    0    0    0    0    0    1
16646    0    0    0    0    0    0    1

In [30]:
#create dummies for day of the week
weekdays_dummy = pd.get_dummies(crime2015["DAY_OF_WEEK"])
weekdays_dummy.head(5)

       Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
4363        1       0         0       0         0        0          0
8793        0       1         0       0         0        0          0
14715       0       0         0       1         0        0          0
16645       0       0         0       1         0        0          0
16646       0       0         0       1         0        0          0

In [31]:
#create dummies for district dummies
district_dummy = pd.get_dummies(crime2015["DISTRICT"])
district_dummy.head()

       A1  A15  A7  B2  B3  C11  C6  D14  D4  E13  E18  E5
4363    0    0   0   0   1    0   0    0   0    0    0   0
8793    0    0   0   0   0    0   0    0   0    0    0   0
14715   0    0   0   1   0    0   0    0   0    0    0   0
16645   0    0   0   0   0    0   0    0   1    0    0   0
16646   0    0   0   0   0    0   0    0   1    0    0   0

In [32]:
#create dummies for crime type
crime_dummy = pd.get_dummies(crime2015["OFFENSE_CODE_GROUP"])
crime_dummy.head()

,Aggravated Assault,Aircraft,Arson,Assembly or Gathering Violations,Auto Theft,Auto Theft Recovery,Ballistics,Bomb Hoax,Burglary - No Property Taken,Commercial Burglary,...,Restraining Order Violations,Robbery,Search Warrants,Service,Simple Assault,Towed,Vandalism,Verbal Disputes,Violations,Warrant Arrests
4363,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
X1 = pd.concat([district_dummy, month_dummy, weekdays_dummy,hour_dummy], axis=1)
X1['intercept'] = 1.0  # so we don't need to use sm.add_constant every time
X1.shape
X1.head()

(53388, 51)

,A1,A15,A7,B2,B3,C11,C6,D14,D4,E13,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,intercept
4363,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
8793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
14715,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1.0
16645,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1.0
16646,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1.0

In [34]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53388 entries, 4363 to 319072
Data columns (total 51 columns):
A1           53388 non-null uint8
A15          53388 non-null uint8
A7           53388 non-null uint8
B2           53388 non-null uint8
B3           53388 non-null uint8
C11          53388 non-null uint8
C6           53388 non-null uint8
D14          53388 non-null uint8
D4           53388 non-null uint8
E13          53388 non-null uint8
E18          53388 non-null uint8
E5           53388 non-null uint8
m06          53388 non-null uint8
m07          53388 non-null uint8
m08          53388 non-null uint8
m09          53388 non-null uint8
m10          53388 non-null uint8
m11          53388 non-null uint8
m12          53388 non-null uint8
Friday       53388 non-null uint8
Monday       53388 non-null uint8
Saturday     53388 non-null uint8
Sunday       53388 non-null uint8
Thursday     53388 non-null uint8
Tuesday      53388 non-null uint8
Wednesday    53388 non-null uint8
h0           53388 non-null uint8
h1           53388 non-null uint8
h2           53388 non-null uint8
h3           53388 non-null uint8
h4           53388 non-null uint8
h5           53388 non-null uint8
h6           53388 non-null uint8
h7           53388 non-null uint8
h8           53388 non-null uint8
h9           53388 non-null uint8
h10          53388 non-null uint8
h11          53388 non-null uint8
h12          53388 non-null uint8
h13          53388 non-null uint8
h14          53388 non-null uint8
h15          53388 non-null uint8
h16          53388 non-null uint8
h17          53388 non-null uint8
h18          53388 non-null uint8
h19          53388 non-null uint8
h20          53388 non-null uint8
h21          53388 non-null uint8
h22          53388 non-null uint8
h23          53388 non-null uint8
intercept    53388 non-null float64
dtypes: float64(1), uint8(50)
memory usage: 3.4 MB

In [35]:
X2 = X1.drop(['Sunday','A1','m06','h0'],  axis=1)
X2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53388 entries, 4363 to 319072
Data columns (total 47 columns):
A15          53388 non-null uint8
A7           53388 non-null uint8
B2           53388 non-null uint8
B3           53388 non-null uint8
C11          53388 non-null uint8
C6           53388 non-null uint8
D14          53388 non-null uint8
D4           53388 non-null uint8
E13          53388 non-null uint8
E18          53388 non-null uint8
E5           53388 non-null uint8
m07          53388 non-null uint8
m08          53388 non-null uint8
m09          53388 non-null uint8
m10          53388 non-null uint8
m11          53388 non-null uint8
m12          53388 non-null uint8
Friday       53388 non-null uint8
Monday       53388 non-null uint8
Saturday     53388 non-null uint8
Thursday     53388 non-null uint8
Tuesday      53388 non-null uint8
Wednesday    53388 non-null uint8
h1           53388 non-null uint8
h2           53388 non-null uint8
h3           53388 non-null uint8
h4           53388 non-null uint8
h5           53388 non-null uint8
h6           53388 non-null uint8
h7           53388 non-null uint8
h8           53388 non-null uint8
h9           53388 non-null uint8
h10          53388 non-null uint8
h11          53388 non-null uint8
h12          53388 non-null uint8
h13          53388 non-null uint8
h14          53388 non-null uint8
h15          53388 non-null uint8
h16          53388 non-null uint8
h17          53388 non-null uint8
h18          53388 non-null uint8
h19          53388 non-null uint8
h20          53388 non-null uint8
h21          53388 non-null uint8
h22          53388 non-null uint8
h23          53388 non-null uint8
intercept    53388 non-null float64
dtypes: float64(1), uint8(46)
memory usage: 3.2 MB

In [36]:
import scipy as sp
import statsmodels.api as sm
import statsmodels

In [37]:
X2train = X2[trainvec]
ytrain = crime_dummy["Drug Violation"][trainvec]

X2test = X2[testvec]
ytest_dv = crime_dummy["Drug Violation"][testvec] #Drug Violation (dv)

In [39]:
model = sm.Logit(ytrain,X2train)
result_dv = model.fit()
result_dv.summary()

C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1789: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

Optimization terminated successfully.
         Current function value: inf
         Iterations 8

C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         Drug Violation   No. Observations:                48050
Model:                          Logit   Df Residuals:                    48003
Method:                           MLE   Df Model:                           46
Date:                Fri, 13 Sep 2019   Pseudo R-squ.:                     inf
Time:                        10:57:15   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
A15            0.0123      0.139      0.088      0.930      -0.261       0.285
A7             0.2508      0.093      2.694      0.007       0.068       0.433
B2            -0.3467      0.074     -4.681      0.000      -0.492      -0.202
B3            -0.3294      0.083     -3.958      0.000      -0.492      -0.166
C11            0.0441      0.072      0.614      0.539      -0.097       0.185
C6             0.3063      0.080      3.851      0.000       0.150       0.462
D14           -0.8931      0.123     -7.274      0.000      -1.134      -0.652
D4            -0.4929      0.080     -6.140      0.000      -0.650      -0.336
E13            0.0515      0.093      0.553      0.580      -0.131       0.234
E18           -0.0357      0.096     -0.373      0.709      -0.223       0.152
E5            -0.2818      0.115     -2.453      0.014      -0.507      -0.057
m07            0.2443      0.089      2.755      0.006       0.071       0.418
m08            0.1762      0.090      1.962      0.050       0.000       0.352
m09            0.1727      0.089      1.939      0.053      -0.002       0.347
m10            0.3508      0.088      4.004      0.000       0.179       0.523
m11            0.2507      0.089      2.804      0.005       0.075       0.426
m12            0.0124      0.092      0.135      0.892      -0.167       0.192
Friday         0.6141      0.089      6.920      0.000       0.440       0.788
Monday         0.7380      0.088      8.433      0.000       0.566       0.909
Saturday       0.5226      0.092      5.689      0.000       0.343       0.703
Thursday       0.6504      0.089      7.333      0.000       0.477       0.824
Tuesday        0.8749      0.086     10.144      0.000       0.706       1.044
Wednesday      0.7606      0.087      8.713      0.000       0.589       0.932
h1            -0.5174      0.191     -2.704      0.007      -0.892      -0.142
h2            -0.2430      0.190     -1.278      0.201      -0.616       0.130
h3            -0.2809      0.234     -1.202      0.230      -0.739       0.177
h4            -0.6072      0.309     -1.967      0.049      -1.212      -0.002
h5            -0.7834      0.320     -2.444      0.015      -1.412      -0.155
h6            -0.3522      0.226     -1.558      0.119      -0.795       0.091
h7            -0.0433      0.164     -0.263      0.792      -0.365       0.279
h8            -0.5328      0.170     -3.132      0.002      -0.866      -0.199
h9            -0.5454      0.162     -3.376      0.001      -0.862      -0.229
h10           -0.2167      0.145     -1.494      0.135      -0.501       0.068
h11           -0.1245      0.140     -0.886      0.376      -0.400       0.151
h12            0.1942      0.127      1.528      0.126      -0.055       0.443
h13            0.3665      0.127      2.888      0.004       0.118       0.615
h14            0.4363      0.124      3.515      0.000       0.193       0.680
h15            0.5448      0.123      4.412      0.000       0.303       0.787
h16            0.9060      0.114      7.927      0.000       0.682       1.130
h17            0.9997      0.112      8.917      0.000       0.780       1.219
h18            1.0715      0.112      9.581      0.000       0.852       1.291
h19            0.8154      0.118      6.926      0.000       0.585       1.046
h20            0.4194      0.126      3.316      0.001       0.172       0.667
h21            0.0032      0.145      0.022      0.982      -0.282       0.288
h22           -0.4819      0.168     -2.868      0.004      -0.811      -0.153
h23           -0.9397      0.211     -4.448      0.000      -1.354      -0.526
intercept     -3.7186      0.148    -25.129      0.000      -4.009      -3.429
==============================================================================
"""

In [40]:
X2train = X2[trainvec]
ytrain = crime_dummy["Medical Assistance"][trainvec]

#X2test = X2[testvec]
ytest_ma = crime_dummy["Medical Assistance"][testvec] #medical assistance (ma)

In [41]:
#model = sm.Logit(ytrain,X2train)
#change argument for optimization
model = sm.Logit(ytrain,X2train)
result_ma = model.fit()
result_ma.summary()

C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1789: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

Optimization terminated successfully.
         Current function value: inf
         Iterations 7

C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\willi\Anaconda3\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:     Medical Assistance   No. Observations:                48050
Model:                          Logit   Df Residuals:                    48003
Method:                           MLE   Df Model:                           46
Date:                Fri, 13 Sep 2019   Pseudo R-squ.:                     inf
Time:                        11:04:31   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
A15            0.5559      0.149      3.724      0.000       0.263       0.849
A7             0.6991      0.107      6.545      0.000       0.490       0.908
B2             0.3450      0.086      4.012      0.000       0.176       0.514
B3             0.3533      0.094      3.778      0.000       0.170       0.537
C11            0.6027      0.085      7.077      0.000       0.436       0.770
C6             0.5534      0.098      5.665      0.000       0.362       0.745
D14            0.6404      0.100      6.395      0.000       0.444       0.837
D4             0.0976      0.093      1.047      0.295      -0.085       0.280
E13            0.3050      0.114      2.676      0.007       0.082       0.528
E18            0.7148      0.103      6.908      0.000       0.512       0.918
E5             0.7904      0.108      7.322      0.000       0.579       1.002
m07            0.0436      0.089      0.492      0.623      -0.130       0.217
m08           -0.0775      0.090     -0.859      0.390      -0.254       0.099
m09            0.1145      0.088      1.308      0.191      -0.057       0.286
m10            0.1145      0.088      1.302      0.193      -0.058       0.287
m11            0.1955      0.087      2.236      0.025       0.024       0.367
m12            0.2337      0.087      2.694      0.007       0.064       0.404
Friday        -0.1092      0.076     -1.428      0.153      -0.259       0.041
Monday         0.0435      0.074      0.585      0.559      -0.102       0.189
Saturday      -0.0401      0.076     -0.525      0.600      -0.190       0.110
Thursday      -0.0845      0.076     -1.109      0.267      -0.234       0.065
Tuesday        0.0418      0.074      0.562      0.574      -0.104       0.188
Wednesday      0.0612      0.074      0.822      0.411      -0.085       0.207
h1             0.2590      0.153      1.688      0.091      -0.042       0.560
h2             0.4895      0.154      3.187      0.001       0.188       0.791
h3             0.7084      0.168      4.215      0.000       0.379       1.038
h4             0.8682      0.182      4.764      0.000       0.511       1.225
h5             0.9410      0.176      5.333      0.000       0.595       1.287
h6             0.5739      0.171      3.348      0.001       0.238       0.910
h7             0.1546      0.160      0.965      0.335      -0.160       0.469
h8             0.3905      0.137      2.843      0.004       0.121       0.660
h9             0.1727      0.138      1.251      0.211      -0.098       0.443
h10            0.5095      0.128      3.981      0.000       0.259       0.760
h11            0.3629      0.130      2.788      0.005       0.108       0.618
h12            0.4267      0.125      3.414      0.001       0.182       0.672
h13            0.3312      0.131      2.527      0.011       0.074       0.588
h14            0.3757      0.129      2.923      0.003       0.124       0.628
h15            0.3032      0.132      2.289      0.022       0.044       0.563
h16            0.0990      0.132      0.749      0.454      -0.160       0.358
h17            0.0933      0.130      0.716      0.474      -0.162       0.349
h18            0.1877      0.129      1.455      0.146      -0.065       0.441
h19            0.2811      0.131      2.144      0.032       0.024       0.538
h20            0.4424      0.129      3.432      0.001       0.190       0.695
h21            0.3371      0.137      2.459      0.014       0.068       0.606
h22            0.3612      0.137      2.627      0.009       0.092       0.631
h23            0.1908      0.150      1.268      0.205      -0.104       0.486
intercept     -3.6079      0.147    -24.464      0.000      -3.897      -3.319
==============================================================================
"""

###### Idea apply later
We can use count data of each region and make a simple VAR with daily data of types of crime

In [42]:
#define function for prediction
def logPredict(modelParams, X):  
    probabilities = modelParams.predict(X)
    return [1 if x >= 0.05 else 0 for x in probabilities]

In [43]:
predictions_dv = logPredict(result_dv, X2test)
predictions_ma = logPredict(result_ma, X2test)

In [44]:
predictions_dv_array = np.asarray(predictions_dv)
predictions_ma_array = np.asarray(predictions_ma)

In [45]:
pd.crosstab(index=predictions_dv_array, columns="count")
pd.crosstab(index=predictions_ma_array, columns="count")

col_0  count
row_0
0       2654
1       2684

col_0  count
row_0
0       1904
1       3434

### Accuracy
Its the ratio of the correctly labeled subjects to the whole pool of subjects.

Accuracy is the most intuitive one.

Accuracy answers the following question: How many crime incidence did we correctly label out of all the crime incidences?

Accuracy = (TP+TN)/(TP+FP+FN+TN)

numerator: all correctly labeled subject (All trues)

denominator: all subjects

In [46]:
accuracy = np.mean(predictions_dv == ytest_dv)
print ('Drug Violation model accuracy = {0}%'.format(accuracy*100))
accuracy = np.mean(predictions_ma == ytest_ma)
print ('Medical Assistance model accuracy = {0}%'.format(accuracy*100))

Drug Violation model accuracy = 52.49156987635819%
Medical Assistance model accuracy = 38.04795803671787%

### Precision
Precision is the ratio of the correctly +ve labeled by our program to all +ve labeled.

Precision answers the following: How many of those crime incidences we labeled as drug violation are actually drug violations?

Precision = TP/(TP+FP)

numerator: +ve labeled crime violations.

denominator: all +ve labeled by our program (whether theyre drug violantions or not in reality).

In [47]:
#calculate TP
pred_dv = predictions_dv == ytest_dv
true_results_dv = ytest_dv[pred_dv]

pred_ma = predictions_ma == ytest_ma
true_results_ma = ytest_ma[pred_ma]

pd.crosstab(index=true_results_dv, columns="count")
pd.crosstab(index=true_results_ma, columns="count")

col_0           count
Drug Violation
0                2564
1                 238

col_0               count
Medical Assistance
0                    1804
1                     227

In [48]:
TP_dv = np.sum(true_results_dv==1)
TN_dv = np.sum(true_results_dv==0)

TP_ma = np.sum(true_results_ma==1)
TN_ma = np.sum(true_results_ma==0)

In [49]:
#calculate false results
false_results_dv = ytest_dv[~pred_dv]
false_results_ma = ytest_ma[~pred_ma]
pd.crosstab(index=false_results_dv, columns="count")
pd.crosstab(index=false_results_ma, columns="count")

col_0           count
Drug Violation
0                2446
1                  90

col_0               count
Medical Assistance
0                    3207
1                     100

In [50]:
FP_dv = np.sum(false_results_dv==0)
FN_dv = np.sum(false_results_dv==1)

FP_ma = np.sum(false_results_ma==0)
FN_ma = np.sum(false_results_ma==1)

In [51]:
precision = TP_dv/(TP_dv+FP_dv)
print ('Drug Violation model precision = {0}%'.format(precision*100))
precision = TP_ma/(TP_ma+FP_ma)
print ('Medical Assistance model precision = {0}%'.format(precision*100))

Drug Violation model precision = 8.86736214605067%
Medical Assistance model precision = 6.6103669190448455%

### Recall (aka Sensitivity)

Recall is the ratio of the correctly +ve labeled by our model to all crime incidences that are drug violations in reality.

Recall answers the following question: Of all the incidences that are drug violations, how many of those we correctly predicted?

Recall = TP/(TP+FN)

numerator: +ve labeled drug violations incidences.

denominator: all incidences that are drug violations (whether detected by our model or not)

In [52]:
recall = TP_dv/(TP_dv+FN_dv)
print ('Drug Violation model recall = {0}%'.format(recall*100))
recall = TP_ma/(TP_ma+FN_ma)
print ('Medical Assistance model recall = {0}%'.format(recall*100))

Drug Violation model recall = 72.5609756097561%
Medical Assistance model recall = 69.41896024464832%

### F1-score (aka F-Score / F-Measure)

F1 Score considers both precision and recall.

It is the harmonic mean(average) of the precision and recall.

F1 Score is best if there is some sort of balance between precision (P) & recall (R) in the system. Oppositely F1 Score isnt so high if one measure is improved at the 
expense of the other.

For example, if P is 1 & R is 0, F1 score is 0.

F1 Score = 2*(Recall * Precision) / (Recall + Precision)

In [53]:
precision = TP_dv/(TP_dv+FP_dv)
recall = TP_dv/(TP_dv+FN_dv)
F1_score = 2*(recall * precision) / (recall + precision)
print ('Drug Violation model F1_score = {0}%'.format(F1_score*100))
precision = TP_ma/(TP_ma+FP_ma)
recall = TP_ma/(TP_ma+FN_ma)
F1_score = 2*(recall * precision) / (recall + precision)
print ('Medical Assistance model F1_score = {0}%'.format(F1_score*100))

Drug Violation model F1_score = 15.803452855245684%
Medical Assistance model F1_score = 12.071257644243554%

### Specificity

Specificity is the correctly -ve labeled by the model to all that are not drug violations in reality.

Specifity answers the following question: Of all the incidences that are non drug violations, how many of those did we correctly predicted?

Specificity = TN/(TN+FP)

numerator: -ve labeled non drug violations incidences.

denominator: all incidences that are non drug violation in reality (whether +ve or -ve labeled)

In [54]:
specificity = TN_dv/(TN_dv+FP_dv)
print ('Drug Violation model specificity = {0}%'.format(specificity*100))
specificity = TN_ma/(TN_ma+FP_ma)
print ('Medical Assistance model specificity = {0}%'.format(specificity*100))

Drug Violation model specificity = 51.17764471057884%
Medical Assistance model specificity = 36.0007982438635%