# Boston Crime
Use cross-validation for model selection in logit model

In [2]:
#this code makes all output to be shown
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#Adjusting the screen size
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
import pandas as pd
import numpy as np
crime = pd.read_csv("C:\\Users\\willi\\Dropbox\\working\\RAW_DATA\\Boston Crime\\crime.csv", encoding ='raw_unicode_escape')
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

Map of Police Districts in Boston


One of the variables in the data frame is "DISTRICT" which is shown here:
<img src="files/BPD_locations.jpg" width="400cm">

In [4]:
#take only year 2015
crime2015 = crime[crime.YEAR==2015]

In [6]:
size = crime2015.shape[0]
size #size of sample
size/6 #size of test set

53388

8898.0

In [7]:
seq1 = np.arange(0,size) #create array of o to 53388
seq2 = np.ndarray.tolist(seq1) #transform array into list

In [8]:
k = size/6 #make a division of 6 which is multiple of 53388
k = int(k)
k

8898

In [10]:
import random
random.seed(9001)
seq3 = random.sample(seq2, k=len(seq2)) #this will reshuffle the list

In [109]:
x = [0,1,2,3,4,5]
dict1 = {i:[] for i in x} #create a dictionary

In [137]:
for i in np.arange(0,6):
    dict1[i] = seq3[i*k:(i+1)*k]

In [145]:
def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2))
intersection(dict1[5],dict1[4]) #see if there are any intersection between lists

[]

In [151]:
x = [0,1,2,3,4,5]
dict2 = {i:[] for i in x} #create a dictionary
for i in np.arange(0,6):
    temp1 = np.zeros(size)
    temp1[dict1[i]]=1
    dict2[i] = temp1

In [153]:
pd.crosstab(index=dict2[4], columns="count")

col_0  count
row_0
0.0    44490
1.0     8898

In [160]:
#check if there are intersections in the dummy variable
temp = dict2[0] + dict2[3]
pd.crosstab(index=temp, columns="count")

col_0  count
row_0
0.0    35592
1.0    17796

In [166]:
#create dictionary for possible sample combinations
list1 = [0,1,2,3,4,5]
dict3 = {i:[] for i in list1} #create a dictionary
for i in list1:
    temp1 = np.zeros(len(list1))
    temp1[i]=1
    temp2 = temp1==1 #transforma in boolean
    dict3[i]=temp2

In [220]:
x = [0,1,2,3,4,5]
dict4={i:[] for i in x} #create a dictionary
dict4
for j in x:
    list1 = [0,1,2,3,4,5]
    temp1 = list1.remove(j)
    dict4[j] = temp1
dict4

{0: [], 1: [], 2: [], 3: [], 4: [], 5: []}

{0: None, 1: None, 2: None, 3: None, 4: None, 5: None}

In [221]:
list1 = [0,1,2,3,4,5]
list1.remove(0)
list1
type(list1)

[1, 2, 3, 4, 5]

list

In [192]:
a = ['a', 'b', 'c', 'd']
a.remove('b')
print(a)

['a', 'c', 'd']

In [168]:
dict3[0]

array([ True, False, False, False, False, False])

In [179]:
dict2[0]

array([0., 1., 0., ..., 0., 0., 0.])

In [187]:
type(np.array(list1))

numpy.ndarray

In [188]:
list1np = np.array(list1)

In [185]:
list1

[0, 1, 2, 3, 4, 5]

In [ ]:
selector1 =

In [ ]:
testvec = np.zeros(size)
testvec[selector1] = 1

In [ ]:
trainvec
testvec

In [ ]:
crime2015train = crime2015[trainvec]
crime2015test = crime2015[testvec]